<h3 style="font-weight:normal; font-family:'Century Gothic',CenturyGothic,AppleGothic,sans-serif; margin-top: -3px">ABOUT US</h3>
<p style="font-size:17px; text-align:justify; margin-top:20px">
	Ridgeco Properties Inc, a family owned and operated boutique brokerage for over 40 years, is one of Northern New Jersey's leading luxury real estate brokerage firms. Ridgeco Properties specializes in luxury residential sales, new construction sales and development, commercial, and leasing. Our sales representatives and brokers are industry leaders who provide an unprecedented level of service and expertise to their clients and customers.
</p>

<br>

<p style="font-size:17px; text-align:center">Offering Our Clients the Highest Level of Service...</p>

<br>
<ul>
	<li style="font-size:17px; text-align:left;">Custom tailored marketing programs for sellers</li>
	<br>
	<li style="font-size:17px; text-align:left;">Informed, experienced and dedicated guidance for buyers
	Prestigious representation by one of the premier independently owned Realtors firms</li>
	<br>
	<li style="font-size:17px; text-align:left;">Customized advertising using print and internet media with world wild exposure</li>
	<br>
	<li style="font-size:17px; text-align:left;">Precise knowledge of mortgage market and related services</li>
	<br>
	<li style="font-size:17px; text-align:left;">Member of the Eastern Bergen County Board of Realtors, New Jersey Association of Realtors, National Association of realtors and New Jersey Multiple Listing Service</li>
	<br>
	<li style="font-size:17px; text-align:left;">Technologically advanced support services including school reporting, on-line credit reporting, on- line tax and deed data base and industry leading we initiative</li>
	<br>
	<li style="font-size:17px; text-align:left;">Atmosphere of mutual support- not competition- among sales associates</li>
	<br>
	<li style="font-size:17px; text-align:left;">Immediate and direct access to owner/ management guidance and support</li>
	<br>
	<li style="font-size:17px; text-align:left;">We pay attention to details</li>
	<br>
	<li style="font-size:17px; text-align:left;">Experience, professionalism and integrity, our reputation is our most valuable commodity</li>
	<br>
</ul>