.simple_form label {
	text-align: left;
	margin: 2px 10px;
	/*padding:18px;*/
}

.simple_form div {
	margin-bottom:14px;
  /*margin-bottom: 10px;
  padding: 18px;*/
  /*clear: both;*/ /* Required for Webkit, but not for Gecko */
}